01.pdf
02.pdf
5gPaper.pdf
all data - raw unfiltered untruncated.zip
data files link.txt
DataExtraction.pdf
Do_nothing data.zip
All Data Versions/
Yes-No data.zip
Yes/
No/
Do_nothing/
New filtration and truncate files/
Literature/An_Assistive_Shared_Control_Architecture_for_a_Robotic_Arm_Using_EEG-Based_BCI_with_Motor_Imagery.pdf
Literature/Brain_EEG_signal_processing_for_controlling_a_robotic_arm.pdf
Literature/fnhum.2020.00338.pdf
Literature/Motor imagery, P300 and error‑related EEG‑based robot arm.pdf
Classifiers/Motor_Imagery_Unprocessed_75-main.zip
Classifiers/Motor_Imagery_82-main.zip
New filtration and truncate files (old backup)/
Data Preprocessing (old)/
Data Preprocessing/22.11.03/
Data Preprocessing/22.11.03_filtered
Data Preprocessing/22.11.03_reshaped_decimated
